*,.container-fluid{
    margin: 0;
    padding: 0;
}


.banner img{
   height: 100vh;
   width: 100%;
   object-fit: cover;
}

header{
    position: fixed;
}

.section-2{
  background-image: url(./pexels-gdtography-911738.jpg)
}